.top-banner h1 {
    color: var(--white);
}

.top-banner {
    background-color: var(--dark-grey);
    padding: 200px 0px;
}

.top-banner .btn-blue {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    width: 216px;
    height: 50px;
    margin: 0px auto;
    display: block;
}




.top-banner .top-banner-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    padding: 0px 0px 30px 0px;
    width: 696px;
    margin: 0 auto;

}


.top-banner-specific .top-banner-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-main-color);
}

.top-banner-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--grey);
}



/* ---ACTIVITY---- */

.activity-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 1.16;
    color: var(--text-main-color);
}
.activity{
    padding-top: 94px;
    padding-bottom: 94px;
}
.activity-title{
    margin-bottom: 50px;
}
.activity-list{
    margin-bottom: 94px;
}




/* -----TEAM--------- */
.team {
    background-color: var(--grey-bright);
    
}


.team-list-item {
    background-color: var(--white);
    
}
.team-title{
    margin-bottom: 50px;


.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
}


.team-member-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey);
    
}