.menu .btn-grey:hover,
.menu .btn-grey:focus,
.menu .btn-grey.active {
    background-color: var(--blue);
    color: var(--white);
}

.menu .btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
}

.our-projects .project-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--grey);
    text-align: center;
}

.our-projects .project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-main-color);
    text-align: center;
}