.menu .btn-grey:hover,
.menu .btn-grey:focus,
.menu .btn-grey.active {
    background-color: var(--blue);
    color: var(--white);
}
.menu{
    display: flex;
    gap: 8px;
    justify-content: center;
    
    
}


.menu .btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    
    color: var(--text-main-color);
    
}
 .our-projects{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

 }
 .project-item{
   
    border: 1px solid #EEEEEE;

 }
 .project-item img{
    display: block;
 }

.our-projects .project-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--grey);
    text-align: center;
    padding: 4px 24px 20px;
    
}

.our-projects .project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-main-color);
    text-align: center;
    padding: 20px 24px;

}